*.nupkg
packages/NUnit.2.6.3/lib/nunit.framework.dll
packages/NUnit.2.6.3/NUnit.2.6.3.nuspec
InjectionMap.v12.suo
packages/NUnit.2.6.3/lib/nunit.framework.xml
packages/NUnitTestAdapter.1.0/NUnitTestAdapter.1.0.nuspec
packages/NUnit.2.6.3/license.txt
packages/NUnitTestAdapter.1.0/lib/NUnit.VisualStudio.TestAdapter.dll
packages/NUnitTestAdapter.1.0/lib/nunit.core.dll
packages/NUnitTestAdapter.1.0/lib/nunit.util.dll
packages/NUnitTestAdapter.1.0/lib/nunit.core.interfaces.dll
packages/NUnitTestAdapter.1.0/tools/install.ps1
src/WickedFlame.InjectionMap.Test/WickedFlame.InjectionMap.Test.csproj.user
src/WickedFlame.InjectionMap.Test/bin/Debug/InjectionMap.dll
src/WickedFlame.InjectionMap.Test/bin/Debug/InjectionMap.pdb
src/WickedFlame.InjectionMap.Test/bin/Debug/WickedFlame.InjectionMap.Test.dll
src/WickedFlame.InjectionMap.Test/bin/Debug/WickedFlame.InjectionMap.Test.pdb
src/WickedFlame.InjectionMap.Test/bin/Debug/nunit.framework.dll
src/WickedFlame.InjectionMap.Test/bin/Debug/nunit.framework.xml
src/WickedFlame.InjectionMap.Test/bin/Debug/wickedflame.injection.dll
src/WickedFlame.InjectionMap.Test/bin/Debug/wickedflame.injection.pdb