<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InjectionMap" version="1.5.5-RC6" targetFramework="sl50" />
  <package id="NUnit" version="3.0.0-alpha-3" targetFramework="sl50" />
  <package id="NUnitLite" version="3.0.0-alpha-3" targetFramework="sl50" />
  <package id="NUnitTestAdapter" version="1.2" targetFramework="sl50" />
  <package id="SilverlightToolkit-Testing" version="5.2011.12.1" targetFramework="sl50" />
</packages>